# Rent the Runway: Recommender

### Import Libraries and Data

In [61]:
#Data cleaning
import numpy as np
import pandas as pd

#Recommender
from scipy import sparse
from sklearn.metrics.pairwise import pairwise_distances
from sklearn.metrics.pairwise import cosine_similarity

In [62]:
#import clean csv - the data was cleaned in the first notebook 
df = pd.read_csv('./data/rent_the_runway_cleaned_no_dummies.csv')

In [63]:
#Drop the null values 
df.dropna(inplace=True)

In [64]:
#Check the size of the existing data 
df.shape

(29237, 15)

# Recommender 1: Collaborative - user based

Users are rows

In [65]:
#Create a pivot table 
pivot_user= df.pivot_table(index = 'user_id', columns= 'item_id', values= 'rating')
pivot_user.head()

item_id,123373,123793,124204,124553,125424,125465,125564,126335,127081,127495,...,2958657,2959486,2960025,2960969,2962646,2963344,2963601,2964470,2965924,2966087
user_id,,,,,,,,,,,,,,,,,,,,,
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
302,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
#Create a sparse matrix

import sys
sys.getsizeof(pivot_user)

pivot_sparse_user = sparse.csr_matrix(pivot_user.fillna(0))   

pivot_sparse_user.shape  

sys.getsizeof(pivot_sparse_user)

56

In [67]:
print(pivot_sparse_user[:20, :])

#gives you what row and what column each rating belongs to (i.e. item 0 and user 91)

  (0, 91)	10.0
  (0, 203)	10.0
  (1, 1664)	10.0
  (2, 426)	10.0
  (3, 527)	10.0
  (3, 2636)	10.0
  (4, 1247)	10.0
  (5, 11)	10.0
  (6, 588)	10.0
  (7, 1653)	10.0
  (8, 1080)	10.0
  (9, 1158)	10.0
  (10, 1355)	8.0
  (11, 3361)	10.0
  (12, 2319)	8.0
  (13, 39)	10.0
  (14, 2980)	8.0
  (15, 621)	10.0
  (16, 835)	8.0
  (16, 1250)	10.0
  (17, 36)	10.0
  (18, 1399)	10.0
  (19, 27)	8.0
  (19, 1117)	8.0

In [68]:
#Calculate Cosine Similarity 

recommender_user = pairwise_distances(pivot_sparse_user, metric='cosine')

recommender_user.shape

(22857, 22857)

In [69]:
recommender_user

array([[0., 1., 1., ..., 1., 1., 1.],
       [1., 0., 1., ..., 1., 1., 1.],
       [1., 1., 0., ..., 1., 1., 1.],
       ...,
       [1., 1., 1., ..., 0., 1., 1.],
       [1., 1., 1., ..., 1., 0., 1.],
       [1., 1., 1., ..., 1., 1., 0.]])

In [70]:
#Create distance dataframes 

recommender_user_df = pd.DataFrame(recommender_user, index = pivot_user.index, columns=pivot_user.index)
recommender_user_df.head()

#index and columns are the same because its a square matrix

user_id,9,82,97,224,302,321,332,457,464,526,...,999478,999512,999522,999561,999590,999658,999782,999910,999913,999914
user_id,,,,,,,,,,,,,,,,,,,,,
9,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
82,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
97,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
224,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
302,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [71]:
#define the user id 
i = 224

In [72]:
#Search the terms 

user_list = recommender_user_df[i].sort_values()[1:11]

# Search Qeury 
# q = 'Item ID/ Dress name'
# df[df['item ID'].str.contains(q)]['item ID']

In [73]:
user_list

user_id
237335    0.292893
824930    0.292893
57078     0.292893
420900    0.500000
9         1.000000
671462    1.000000
671428    1.000000
671402    1.000000
671350    1.000000
671216    1.000000
Name: 224, dtype: float64

In [74]:
df[df['user_id'] == 237335]

,age,body_type,bust_size,category,fit,height,item_id,rating,rented_for,review_date,review_summary,review_text,size,user_id,weight
4407,21,athletic,34b,dress,2,5. 6,1661123,10,formal affair,2017-12-21,This dress clings in all the right places and ...,The fit of the dress is perfect! It looked nic...,8,237335,140

With the user based recommender, it's working off the similar features of the user. In this case, those similar features relate to size, weight, body type, etc. But given that retail stores often have a diverse range of sizes for different body types, this version of the recommender does not associate with the user's "style".

# Item based - Items are the rows

In [75]:
#Create a pivot table 
pivot_item = df.pivot_table(index = 'item_id', columns= 'user_id', values= 'rating')
pivot_item.head()

user_id,9,82,97,224,302,321,332,457,464,526,...,999478,999512,999522,999561,999590,999658,999782,999910,999913,999914
item_id,,,,,,,,,,,,,,,,,,,,,
123373,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123793,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124553,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
import sys
sys.getsizeof(pivot_item)

pivot_sparse_item = sparse.csr_matrix(pivot_item.fillna(0)) 

pivot_sparse_item.shape                                       

sys.getsizeof(pivot_sparse_item)                              

print(pivot_sparse_item[:20, :])

#gives you what row and what column each movie rating belong to

  (0, 28)	10.0
  (0, 119)	10.0
  (0, 140)	8.0
  (0, 344)	4.0
  (0, 498)	8.0
  (0, 628)	10.0
  (0, 877)	10.0
  (0, 958)	10.0
  (0, 1034)	10.0
  (0, 1518)	10.0
  (0, 1999)	2.0
  (0, 2229)	8.0
  (0, 2703)	4.0
  (0, 2757)	10.0
  (0, 2826)	10.0
  (0, 2933)	10.0
  (0, 3237)	10.0
  (0, 3801)	10.0
  (0, 4374)	8.0
  (0, 4397)	10.0
  (0, 4998)	10.0
  (0, 5016)	8.0
  (0, 5122)	6.0
  (0, 5256)	10.0
  (0, 5284)	8.0
  :	:
  (19, 14920)	10.0
  (19, 15117)	10.0
  (19, 15165)	8.0
  (19, 16322)	10.0
  (19, 16482)	8.0
  (19, 16964)	8.0
  (19, 16968)	10.0
  (19, 17080)	10.0
  (19, 17211)	10.0
  (19, 17446)	10.0
  (19, 17547)	10.0
  (19, 18348)	6.0
  (19, 19177)	10.0
  (19, 19956)	10.0
  (19, 19994)	8.0
  (19, 20263)	10.0
  (19, 20337)	10.0
  (19, 20363)	10.0
  (19, 20536)	8.0
  (19, 20811)	8.0
  (19, 20968)	8.0
  (19, 21550)	10.0
  (19, 21603)	10.0
  (19, 21630)	6.0
  (19, 22741)	10.0

In [77]:
#Calculate Cosine Similarity 

recommender_item = pairwise_distances(pivot_sparse_item, metric='cosine')

recommender_item.shape

(4517, 4517)

In [78]:
#Create distance dataframes 

recommender_item_df = pd.DataFrame(recommender_item, index = pivot_item.index, columns=pivot_item.index)
recommender_item_df.head()

item_id,123373,123793,124204,124553,125424,125465,125564,126335,127081,127495,...,2958657,2959486,2960025,2960969,2962646,2963344,2963601,2964470,2965924,2966087
item_id,,,,,,,,,,,,,,,,,,,,,
123373,0.000000,0.992892,1.0,1.0,1.0,1.0,1.0,1.0,0.987892,1.000000,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
123793,0.992892,0.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.000000,0.993564,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
124204,1.000000,1.000000,0.0,1.0,1.0,1.0,1.0,1.0,1.000000,1.000000,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
124553,1.000000,1.000000,1.0,0.0,1.0,1.0,1.0,1.0,1.000000,1.000000,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
125424,1.000000,1.000000,1.0,1.0,0.0,1.0,1.0,1.0,1.000000,1.000000,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [79]:
#Search the terms 

recommender_item_df[123793].sort_values()[1:11]

# Search Qeury 
# q = 'Item ID/ Dress name'
# df[df['item ID'].str.contains(q)]['item ID']

item_id
2249133    0.936981
881837     0.936981
2376757    0.936981
1219000    0.963616
1643568    0.963616
2834590    0.966612
546398     0.966969
420842     0.974536
2236896    0.975631
2877562    0.979753
Name: 123793, dtype: float64

In [80]:
df[df['item_id'] == 2249133]

,age,body_type,bust_size,category,fit,height,item_id,rating,rented_for,review_date,review_summary,review_text,size,user_id,weight
20618,30,petite,32c,top,1,5. 3,2249133,6,party,2017-04-17,Cute top to wear to a party,Very pretty top that I wore for a birthday par...,4,357689,115

The cosine similarities are not great results, many are very close to 1.

# Content Based

In [81]:
#NLP
from nltk.stem import WordNetLemmatizer
import regex as re

#Recommender
from scipy import sparse
from sklearn.metrics.pairwise import pairwise_distances
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

### NLP Cleaning

In [82]:
#Function to clean the text data 

def clean_text(df):

    df['full_review'] = df['review_summary'] + ' ' + df['review_text']                 
    #Combine selftext & title into one column 
    
    df['full_review'] = [str(words).lower() for words in df['full_review']]    
    #Change all the text to lowercase 
    
    df['full_review'] = [(re.sub(r'[^\w\s]','', word)) for word in df['full_review']]
    #remove puncutation. Got this regex code from stack overflow, checked it in regex101.com and put it in a list comp
    
    df['full_review'] = [(re.sub('[^A-Za-z]+', ' ', text)) for text in df['full_review']]
    #remove numbers
    
    return df

In [83]:
clean_text(df)

,age,body_type,bust_size,category,fit,height,item_id,rating,rented_for,review_date,review_summary,review_text,size,user_id,weight,full_review
0,36,hourglass,34d,dress,1,5. 5,815826,10,wedding,2017-09-18,"Good fit, great style, comfortable yet elegant",Rented for early brunch/garden wedding. My to...,20,334577,137,good fit great style comfortable yet elegant r...
1,34,athletic,34c,dress,1,5. 5,1636171,10,work,2017-04-19,Love the fit and fabric!,This dress was perfect. The fabric is thick an...,8,634115,125,love the fit and fabric this dress was perfect...
2,30,hourglass,34a,gown,0,5. 8,438881,10,formal affair,2017-10-18,"Simple black dress, loved the ruffles.",Wore this dress to a Naval Ball. The dress did...,13,988705,124,simple black dress loved the ruffles wore this...
3,32,hourglass,34d,dress,1,5. 8,1392841,10,wedding,2017-08-07,One of my fav rentals,Loved this fun dress. The low V in the front m...,16,977884,158,one of my fav rentals loved this fun dress the...
4,34,pear,34a,dress,2,5. 7,160612,8,party,2015-01-05,Pretty but not meant for small chested girls,"Pretty dress, but I didn't have the bust to fi...",8,795673,135,pretty but not meant for small chested girls p...
5,42,hourglass,36d,dress,1,5. 4,810197,10,party,2017-06-01,"Amazing fit, beautiful material, a little sexy...",This dress was perfect. I felt so good in it....,12,247355,132,amazing fit beautiful material a little sexy l...
6,29,hourglass,36b,dress,1,5. 1,1698166,8,wedding,2016-08-15,Great summer wedding pick!,I loved this dress! I run between a 12 and a 1...,24,193032,185,great summer wedding pick i loved this dress i...
7,30,athletic,34c,gown,1,5. 4,1015626,10,formal affair,2017-04-22,The perfect dress for a sparkly Broadway openi...,This dress is perfect. I don't think I've ever...,12,976631,135,the perfect dress for a sparkly broadway openi...
8,33,hourglass,32a,dress,2,5. 2,172914,8,party,2014-05-19,Tons of Compliments!,I wore this for my bridal shower at a Country ...,4,162849,118,tons of compliments i wore this for my bridal ...
9,31,pear,34a,dress,1,5. 3,576743,10,wedding,2017-07-17,Rented this dress for my brother's wedding.,An excellent dress. Would definitely rent aga...,16,379671,135,rented this dress for my brothers wedding an e...
10,39,athletic,34b,dress,0,5. 7,479018,10,work,2017-06-27,Sexy yet still work appropriate at the same time!,This dress runs very small. I went with the re...,12,324761,125,sexy yet still work appropriate at the same ti...
11,32,hourglass,32c,gown,1,5. 3,283107,10,formal affair,2016-11-04,The dress was beautiful! Perfect for the Wizar...,"Well made dress. Stunning really. If anything,...",8,460851,118,the dress was beautiful perfect for the wizard...
12,50,hourglass,34d,dress,2,5. 10,1071711,10,everyday,2017-08-18,great fit\n,THis was my favorite dress from RTR yet. Love...,12,384951,150,great fit this was my favorite dress from rtr ...
13,31,petite,34c,dress,0,5. 3,1962198,8,wedding,2015-09-22,Tight in the chest,"I ignored some of the other reviewers, and tha...",4,302809,115,tight in the chest i ignored some of the other...
14,30,pear,34b,dress,1,5. 5,417055,8,wedding,2017-10-18,Fun dancing dress!,The dress was beautiful. I felt great in it! I...,4,128409,135,fun dancing dress the dress was beautiful i fe...
15,27,pear,34b,dress,1,5. 5,127495,8,wedding,2015-12-27,It made me look and feel super sexy. So worth it!,"The sleeves were a bit longer than my arms, an...",14,304429,140,it made me look and feel super sexy so worth i...
16,34,petite,32b,dress,1,5. 2,1697200,10,wedding,2014-04-26,"Gorgeous, original and comfortable dress - per...",I received compliments on this dress all eveni...,4,168422,115,gorgeous original and comfortable dress perfec...
17,29,hourglass,34d,dress,1,5. 6,1009845,8,wedding,2017-02-22,.,The material on this dress is thick and does a...,12,70553,135,the material on this dress is thick and does ...
18,33,hourglass,36dd,shift,1,5. 2,1618682,8,other,2017-05-13,Complimented all night!,"Beautiful dress, however, I recommend sizing u...",20,323996,175,complimented all night beautiful dress however...
19,34,pear,38c,gown,0,5. 5,756784,8,formal affair,2017-03-17,Compliments well with a tuxedo,The fit was snug through my thighs. I typicall...,34,783525,215,compliments well with a tuxedo the fit was snu...
20,20,athletic,34a,gown,1,5. 8,432275,10,formal affair,2016-05-15,I won second (haha) best dressed!,The dress is VERY fitted & is ruched on the si...,1,287077,130,i won second haha best dressed the dress is ve...
21,30,apple,34d,gown,0,4. 11,123373,6,formal affair,2012-11-23,Okay,It fit pretty well but the dress is rather pla...,1,880517,114,okay it fit pretty well but the dress is rathe...
22,35,hourglass,32ddd/e,dress,0,5. 3,1329072,10,date,2017-09-11,head turner,Got so many compliments on it! Loved wearing it!,12,139855,129,head turner got so many compliments on it love...
23,38,full bust,34c,dress,1,5. 5,1420770,10,formal affair,2014-06-18,"so comfy. fit great, got TONS of compliments....",love it,8,853044,125,so comfy fit great got tons of compliments bea...
24,34,hourglass,34d,dress,1,5. 5,1334728,6,wedding,2017-08-30,Lots of compliments on the color,I have a short torso so dress looked dangerous...,12,108896,155,lots of compliments on the color i have a shor...
25,30,hourglass,34ddd/e,gown,1,5. 2,131117,10,formal affair,2013-06-14,I fell in LOVE with this dress....I want it in...,This dress is AMAZING!!!! Couldn't stop getti...,11,249609,178,i fell in love with this dressi want it in eve...
26,31,hourglass,34b,gown,2,5. 4,125564,8,wedding,2012-09-05,"Great fit, got so many compliments!",I wore this dress to my friends black tie wedd...,4,689089,120,great fit got so many compliments i wore this ...
27,29,straight & narrow,32c,dress,2,5. 6,401725,10,party,2017-09-21,Stunning!,Fabric is surprisingly thick which I loved. Ru...,8,870385,125,stunning fabric is surprisingly thick which i ...
28,26,petite,34a,dress,2,5. 3,127495,6,date,2013-02-20,"This dress was nice, but nothing special.",I was pretty disappointed with this dress. The...,4,253413,105,this dress was nice but nothing special i was ...
29,34,apple,36c,dress,1,5. 0,136110,10,wedding,2014-10-06,great blue!,"Got lots of compliments on this ""grown up"" dre...",20,788188,130,great blue got lots of compliments on this gro...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29246,32,pear,34d,sheath,0,5. 8,1598962,10,party,2016-08-22,Stress free choice for my tiny friend,"I rented this dress for my very petite (5'2"" s...",4,806242,160,stress free choice for my tiny friend i rented...
29247,32,hourglass,32d,gown,1,5. 6,672419,8,wedding,2015-12-20,Great for a fall black tie wedding,I ordered two dresses for the black tie weddin...,1,359028,120,great for a fall black tie wedding i ordered t...
29248,32,petite,32c,dress,1,5. 3,158794,8,wedding,2014-11-13,"Classy, chic and sexy!","This dress fit great and I really liked it, es...",1,764513,101,classy chic and sexy this dress fit great and ...
29249,29,hourglass,32c,dress,1,5. 9,136110,8,other,2014-05-30,Great dress for graduation. Hemlines were worn.,"As to be expected, this dress was tailored clo...",12,356475,140,great dress for graduation hemlines were worn ...
29250,47,hourglass,32d,sheath,0,5. 7,819428,6,party,2017-10-12,Either I gained weight.. or size up!,Beautiful dress! If you have a great body......,12,782238,130,either i gained weight or size up beautiful dr...
29251,62,hourglass,36d,dress,1,5. 6,870184,8,wedding,2016-05-01,Beautiful dress lots of compliments!,Dress was a bit big on shoulders so it gapped ...,24,326014,151,beautiful dress lots of compliments dress was ...
29252,38,pear,36b,dress,2,5. 5,1028170,10,work,2017-08-14,Nice cut,Enjoyed wearing this dress. It is comfortable ...,20,667260,180,nice cut enjoyed wearing this dress it is comf...
29253,44,straight & narrow,36c,dress,1,5. 8,161541,10,party,2015-05-27,Wore the dress for a baptism. Loved the dress.,Dress looked very cute on and quality dress\nN...,4,938519,125,wore the dress for a baptism loved the dress d...
29254,48,hourglass,38c,gown,1,5. 4,127865,10,formal affair,2016-04-17,Beautiful!,I wore this for opening night at the opera and...,24,958644,160,beautiful i wore this for opening night at the...
29255,34,pear,34b,dress,2,5. 4,725296,8,wedding,2017-08-07,"Great, versatile, colorful dress.","I typically wear a size 4 dress, so I was surp...",1,810752,130,great versatile colorful dress i typically wea...
29256,27,petite,34c,dress,1,5. 2,730008,10,wedding,2016-06-14,"Another great RTR experience, with a perfect d...",This dress was perfect for a spring/summer wed...,4,897369,105,another great rtr experience with a perfect dr...
29257,29,hourglass,34d,gown,1,5. 3,123793,10,other,2014-08-02,Unforgettable engagment photos,I loved everything about this dress. I ordered...,8,497658,155,unforgettable engagment photos i loved everyth...
29258,28,full bust,34c,sheath,1,5. 9,137585,10,wedding,2014-10-06,This dress was a perfect fit!,I received many compliments and would rent it...,16,8367,155,this dress was a perfect fit i received many c...
29259,52,hourglass,34c,gown,1,5. 10,523845,10,wedding,2017-04-09,"Yes, I will have the AEGEAN SEA GOWN with a si...","The color is wayyyyyyy better than the photo, ...",25,868532,165,yes i will have the aegean sea gown with a sid...
29260,42,athletic,34dd,dress,1,5. 5,869052,2,everyday,2017-05-03,I didn't end up wearing this.,"It fit as I think it was suppose to, but it ju...",20,927713,165,i didnt end up wearing this it fit as i think ...
29261,34,hourglass,34b,dress,1,5. 9,126335,10,party,2013-01-21,The other reviewers aren't lying when they say...,"I read all of the reviews for this dress, so I...",12,943794,145,the other reviewers arent lying when they say ...
29262,33,athletic,34d,dress,1,5. 6,126335,10,wedding,2013-11-18,Loved the way I sparkled in this dress.,Fit was true to size. The dress that was sent...,8,773974,130,loved the way i sparkled in this dress fit was...
29263,41,pear,34b,gown,1,5. 5,1846462,10,formal affair,2017-03-01,Wore this dress to the Oscars and got more com...,True to size and perfect length for heels.,12,812919,137,wore this dress to the oscars and got more com...
29264,40,athletic,34c,sheath,1,5. 7,1787191,10,other,2016-03-30,I wore this dress for Easter mass and it was a...,Perfect fit and flattering!!,16,477571,170,i wore this dress for easter mass and it was a...
29265,43,petite,36c,dress,1,5. 1,514672,10,party,2017-02-01,I will wear again this dress,Nice dress lovely,4,782537,112,i will wear again this dress nice dress lovely
29266,24,straight & narrow,32a,maxi,1,5. 6,315240,10,wedding,2017-05-22,STYLIST REVIEW,Loved this dress!!! Super comfortable and flow...,1,742630,110,stylist review loved this dress super comforta...
29267,41,petite,34c,suit,1,5. 1,2565135,8,other,2014-08-09,"Cute, comfy, and just right",I've been scouring the earth for a cute basic ...,8,685941,120,cute comfy and just right ive been scouring th...
29268,34,pear,32b,dress,1,5. 2,326908,10,other,2016-09-22,"Wore it for a baptism -- it was cute, chic an...",The dress came to above my knees (not too shor...,4,193844,111,wore it for a baptism it was cute chic and mod...
29269,31,hourglass,34c,dress,1,5. 0,1114041,8,wedding,2015-07-10,Wore the dress to a wedding.,Fit was good. Just a little snug around the ch...,12,676317,140,wore the dress to a wedding fit was good just ...
29270,22,athletic,32ddd/e,dress,0,5. 4,1912012,10,date,2017-10-01,LOVE LOVE LOVE! Fit like a glove but in all of...,This dress definitely runs small. I ended up w...,12,444266,132,love love love fit like a glove but in all of ...
29271,31,athletic,34c,gown,1,5. 5,416213,8,formal affair,2016-03-14,Wore this dress to the Leukemia Ball.,Although I really liked this dress and the bac...,4,50388,130,wore this dress to the leukemia ball although ...
29272,29,hourglass,34c,dress,1,5. 5,148690,10,wedding,2014-12-04,Perfect for black tie - appropriate but inters...,I wore this dress to a black tie wedding I ha...,4,526627,120,perfect for black tie appropriate but intersti...
29273,33,hourglass,32b,dress,2,5. 5,193179,6,wedding,2013-04-28,.,"Loved the dress but was unable to wear it, I n...",8,725022,120,loved the dress but was unable to wear it i n...
29274,33,hourglass,32d,sweater,1,5. 7,2805306,10,everyday,2017-11-02,"Love this sweater, great for dressing up or ca...","I wore this great, comfy, NOT itchy sweater 4 ...",14,268448,140,love this sweater great for dressing up or cau...
29275,44,apple,36d,gown,2,5. 4,648298,10,wedding,2017-10-04,"Simple, elegant, and effortless! Like a Grecia...",This was a replacement dress sent and received...,24,301753,160,simple elegant and effortless like a grecian g...

In [84]:
#Lemmatize
lm= WordNetLemmatizer()

df['full_review'] = [" ".join([lm.lemmatize(w) for w in i.split()]) for i in df['full_review']]

In [85]:
tfidf = TfidfVectorizer(stop_words='english')

In [86]:
tfidf_matrix = tfidf.fit_transform(df['review_summary'])

### Cosine Similarity

Referenced this medium artcile:
https://towardsdatascience.com/how-to-build-from-scratch-a-content-based-movie-recommender-with-natural-language-processing-25ad400eb243

In [87]:
count = CountVectorizer()
text_matrix = count.fit_transform(df['full_review'])

# generating the cosine similarity matrix
cosine_sim = cosine_similarity(text_matrix, text_matrix)

In [88]:
#These cosine similarities are much better than the collaborative recommender
cosine_sim

array([[1.        , 0.42737223, 0.38925355, ..., 0.3765467 , 0.3685477 ,
        0.58386056],
       [0.42737223, 1.        , 0.57639296, ..., 0.39445737, 0.33052034,
        0.54537208],
       [0.38925355, 0.57639296, 1.        , ..., 0.50562599, 0.40456533,
        0.48662474],
       ...,
       [0.3765467 , 0.39445737, 0.50562599, ..., 1.        , 0.26238207,
        0.3979329 ],
       [0.3685477 , 0.33052034, 0.40456533, ..., 0.26238207, 1.        ,
        0.412737  ],
       [0.58386056, 0.54537208, 0.48662474, ..., 0.3979329 , 0.412737  ,
        1.        ]])

In [89]:
# creating a Series for the item so they are associated to an ordered numerical
# create list to match the indexes
indices = pd.Series(df.index)

#  defining the function that takes in item_id and returns top 10 recommendations 

def recommendations(item_id, cosine_sim = cosine_sim):
    
    # initializing the empty list
    recommended_items = []
    
    # gettin the index of the item that matches the item_id
    idx = indices[indices == item_id].index[0]

    # creating a Series with the similarity scores in descending order
    score_series = pd.Series(cosine_sim[idx]).sort_values(ascending = False)

    # getting the indexes of the 10 most similar items
    top_10_indexes = list(score_series.iloc[1:11].index)
    
    # populating the list with the titles of the best 10 matching items
    for i in top_10_indexes:
        recommended_items.append(list(df.index)[i])
        
    print(recommended_items)
#         print(cosine_sim)
        
    return recommended_items, cosine_sim

In [90]:
recommendations(29207)

[1867, 26019, 8835, 4167, 2198, 11384, 16851, 26539, 7122, 5245]

([1867, 26019, 8835, 4167, 2198, 11384, 16851, 26539, 7122, 5245],
 array([[1.        , 0.42737223, 0.38925355, ..., 0.3765467 , 0.3685477 ,
         0.58386056],
        [0.42737223, 1.        , 0.57639296, ..., 0.39445737, 0.33052034,
         0.54537208],
        [0.38925355, 0.57639296, 1.        , ..., 0.50562599, 0.40456533,
         0.48662474],
        ...,
        [0.3765467 , 0.39445737, 0.50562599, ..., 1.        , 0.26238207,
         0.3979329 ],
        [0.3685477 , 0.33052034, 0.40456533, ..., 0.26238207, 1.        ,
         0.412737  ],
        [0.58386056, 0.54537208, 0.48662474, ..., 0.3979329 , 0.412737  ,
         1.        ]]))

In [91]:
recs_list = recommendations(29207)

[1867, 26019, 8835, 4167, 2198, 11384, 16851, 26539, 7122, 5245]

In [92]:
for i in recs_list:
    df.index== i
    print(df.loc[i])

       age          body_type bust_size    category  fit  height  item_id  \
1867    44          hourglass       34c  shirtdress    1   5. 4   1840637
26019   39             petite       32d        gown    1   5. 2    141688
8835    34             petite       32b        gown    1   5. 1    832622
4167    32          hourglass       38d       dress    1  5. 10    249458
2198    42  straight & narrow       32c       dress    1   5. 3    172027
11384   31          hourglass       36d        gown    1   5. 6   1714731
16851   28          full bust   34ddd/e        gown    0   5. 8    149655
26539   35           athletic       36c       dress    0   5. 6    345146
7122    32          full bust      36dd       dress    1   5. 4    125424
5245    30           athletic       36b      sheath    1   5. 9    987743

       rating     rented_for review_date  \
1867        6          party  2016-08-05
26019       8  formal affair  2014-02-09
8835       10  formal affair  2015-01-09
4167       10          party  2016-01-02
2198        8          party  2015-04-13
11384      10        wedding  2015-10-29
16851       8        wedding  2014-08-15
26539      10        wedding  2016-11-07
7122       10          other  2017-06-01
5245       10        wedding  2016-10-11

                                          review_summary  \
1867                                Very cute and preppy
26019         Beautiful dress and even better in person!
8835       A stunning dress that's even better in person
4167   Wore this dress to my work Christmas party, co...
2198                                this dress is great!
11384  Husband said it was the best dress I have ever...
16851            Beautiful dress, perfect for black tie!
26539  Go up one or two sizes - you'll be happy you did.
7122                                   I felt beautiful!
5245                          Awesome and elegant dress!

                                             review_text  size  user_id  \
1867   This dress is so cute! I've been wanting to re...     4    46348
26019  This was my first experience with Rent the Run...    12   401375
8835   This dress was included in my rental as a firs...     1   338462
4167   I was the first to get this dress, it still ha...    24   831814
2198   I normally wear a size 0 and I wore a 0 in thi...     1   105378
11384  This dress looked amazing on me.  It emphasize...    24   297705
16851  This dress was beautiful. I wore it to a black...    17   980350
26539  This fit my 5 month post-baby body much better...    16   256675
7122   I wore this dress for our engagement pictures....    20   763383
5245   I wore this to a wedding in Houston where it w...    16   644888

       weight                                        full_review
1867      108  very cute and preppy this dress is so cute ive...
26019     123  beautiful dress and even better in person this...
8835      103  a stunning dress thats even better in person t...
4167      190  wore this dress to my work christmas party com...
2198      104  this dress is great i normally wear a size and...
11384     190  husband said it wa the best dress i have ever ...
16851     150  beautiful dress perfect for black tie this dre...
26539     130  go up one or two size youll be happy you did t...
7122      160  i felt beautiful i wore this dress for our eng...
5245      178  awesome and elegant dress i wore this to a wed...

ValueError: Cannot index with multidimensional key

In [93]:
df[df.index == 1867]

,age,body_type,bust_size,category,fit,height,item_id,rating,rented_for,review_date,review_summary,review_text,size,user_id,weight,full_review
1867,44,hourglass,34c,shirtdress,1,5. 4,1840637,6,party,2016-08-05,Very cute and preppy,This dress is so cute! I've been wanting to re...,4,46348,108,very cute and preppy this dress is so cute ive...

In [94]:
df[df.index == 26019]

,age,body_type,bust_size,category,fit,height,item_id,rating,rented_for,review_date,review_summary,review_text,size,user_id,weight,full_review
26019,39,petite,32d,gown,1,5. 2,141688,8,formal affair,2014-02-09,Beautiful dress and even better in person!,This was my first experience with Rent the Run...,12,401375,123,beautiful dress and even better in person this...